<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIMEGEN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/style_light.css') }}">
</head>
<body style="padding-left: 0px;">
    <div class="content">
        <div class="header-container">
            <header class="main-header">
                <h1>TIMEGEN</h1>
            </header>
        </div>
        <main>
            <p>Group of people making a project for school.
                <br>
                <br>
                <form method="GET" action="{{ url_for('login') }}" style="display: inline-block;">
                    <button type="submit">Back</button>
                </form>
                </p>
        </main>
    </div>
</body>
</html>