{% extends 'login_base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <h2>Register</h2>
    {% if register_error %}
        <p style="color: red;">{{ register_error }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('register') }}">
        <div>
            <label for="new_username">Username:</label>
            <input type="text" id="new_username" name="new_username" required>
        </div>
        <div class="password-input-container">
            <label for="new_password">Password:</label>
            <input type="password" id="new_password" name="new_password" required>
            <img src="{{ url_for('static', filename='Eyes_Pictures/eye_closed.png') }}" alt="Show Password" class="toggle-password-img" id="togglePasswordRegisterNewImg">
        </div>
        <div class="password-input-container">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            <img src="{{ url_for('static', filename='Eyes_Pictures/eye_closed.png') }}" alt="Show Password" class="toggle-password-img" id="togglePasswordRegisterConfirmImg">
        </div>
        <button type="submit">Register</button>
    </form>
    <br>
    <form method="GET" action="{{ url_for('login') }}">
        <button type="submit">Back to Login</button>
    </form>
    <script>
        const newPasswordInputRegister = document.getElementById('new_password');
        const togglePasswordRegisterNewImg = document.getElementById('togglePasswordRegisterNewImg');
        const confirmPasswordInputRegister = document.getElementById('confirm_password');
        const togglePasswordRegisterConfirmImg = document.getElementById('togglePasswordRegisterConfirmImg');
        const closedEyeSrcRegister = "{{ url_for('static', filename='Eyes_Pictures/eye_closed.png') }}";
        const openEyeSrcRegister = "{{ url_for('static', filename='Eyes_Pictures/eye_open.png') }}";

        togglePasswordRegisterNewImg.addEventListener('click', function() {
            const type = newPasswordInputRegister.getAttribute('type');
            if (type === 'password') {
                newPasswordInputRegister.setAttribute('type', 'text');
                this.src = openEyeSrcRegister;
            } else {
                newPasswordInputRegister.setAttribute('type', 'password');
                this.src = closedEyeSrcRegister;
            }
        });

        togglePasswordRegisterConfirmImg.addEventListener('click', function() {
            const type = confirmPasswordInputRegister.getAttribute('type');
            if (type === 'password') {
                confirmPasswordInputRegister.setAttribute('type', 'text');
                this.src = openEyeSrcRegister;
            } else {
                confirmPasswordInputRegister.setAttribute('type', 'password');
                this.src = closedEyeSrcRegister;
            }
        });
    </script>
{% endblock %}