{% extends 'base.html' %}

{% block title %}View Timetable{% endblock %}

{% block content %}
    <h2>Timetable</h2>
    {% if timetable_data %}
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    {% for day in days_order %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for time, days in timetable_data.items() %}
                    <tr>
                        <td>{{ time }}</td>
                        {% for day in days_order %}
                            <td>{{ days.get(day, '') }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="button-row">
            <form method="GET" action="{{ url_for('create_timetable') }}">
                <button type="submit">Edit Timetable</button>
            </form>
            <form method="GET" action="{{ url_for('export_timetable') }}">
                <button type="submit">Export as CSV</button>
            </form>
            <form method="GET" action="{{ url_for('import_timetable') }}">
                <button type="submit">Import CSV</button>
            </form>
        </div>

        <div class="button-row">
            <form method="POST" action="{{ url_for('save_timetable_to_db') }}">
                <label for="class">Enter Class:</label>
                <input type="text" id="class" name="class">
                <button type="submit">Save</button>
            </form>
            <form method="POST" action="{{ url_for('get_timetable_from_db') }}">
                <label for="class">Enter Class:</label>
                <input type="text" id="class" name="class">
                <button type="submit">Load Timetable</button>
            </form>
        </div>

    {% else %}
        <h4 style="display: inline-block; margin-right: 20px;">No timetable entries yet.</h4>
        <div class="button-row">
            <form method="GET" action="{{ url_for('create_timetable') }}">
                <button type="submit">Create Timetable</button>
            </form>
            <form method="GET" action="{{ url_for('import_timetable') }}">
                <button type="submit">Import CSV</button>
            </form>
            <form method="POST" action="{{ url_for('get_timetable_from_db') }}">
                <label for="class">Enter Class:</label>
                <input type="text" id="class" name="class">
                <button type="submit">Load Timetable</button>
            </form>
        </div>
    {% endif %}
{% endblock %}