{% extends 'base.html' %}
{% block title %}Login / Register{% endblock %}
{% block content %}
    <h2>Login</h2>
    {% if login_error %}
        <p style="color: #ff0000;">{{ login_error }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('login') }}">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="password-input-container">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <img src="{{ url_for('static', filename='Eyes_Pictures/eye_closed.png') }}" alt="Show Password" class="toggle-password-img" id="togglePasswordLoginImg">

        </div>
        <button type="submit">Login</button>
    </form>
    <br>
    <h4 style="display: inline-block; margin-right: 5px;">Don't have an account?</h4>
    <form method="GET" action="{{ url_for('register') }}" style="display: inline-block;">
        <button type="submit">Register Here</button>
    </form>
    <h4 style="display: inline-block; margin-right: 5px; margin-left: 35px;">Forgot Password?</h4>
    <form method="GET" action="{{ url_for('forgot_password') }}" style="display: inline-block;">
        <button type="submit">Forgot Password</button>
    </form>
    
    <script>
        const passwordInputLogin = document.getElementById('password');
        const togglePasswordLoginImg = document.getElementById('togglePasswordLoginImg');
        const closedEyeSrcLogin = "{{ url_for('static', filename='Eyes_Pictures/eye_closed.png') }}";
        const openEyeSrcLogin = "{{ url_for('static', filename='Eyes_Pictures/eye_open.png') }}";

        togglePasswordLoginImg.addEventListener('click', function() {
            const type = passwordInputLogin.getAttribute('type');
            if (type === 'password') {
                passwordInputLogin.setAttribute('type', 'text');
                this.src = openEyeSrcLogin;
            } else {
                passwordInputLogin.setAttribute('type', 'password');
                this.src = closedEyeSrcLogin;
            }
        });
    </script>

{% endblock %}