<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Timetable App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <button class="menu-toggle">&#8942;</button>
    <div class="sidebar">
        <h2 style="font-size: 24px;">Timetable App</h2>
            <form method="GET" action="{{ url_for('create_timetable') }}" style="font-size: 20px; margin-left: 25px; margin-top: 20px;">
                <button type="submit">Create/Edit</button>
            </form>
            <form method="GET" action="{{ url_for('view_timetable') }}" style="font-size: 20px; margin-left: 25px; margin-top: 20px;">
                <button type="submit">View Timetable</button>
            </form>
            <form method="GET" action="{{ url_for('import_export') }}" style="font-size: 20px; margin-left: 25px; margin-top: 20px;">
                <button type="submit">Export/Import</button>
            </form>
        <br>
        {% if session['user'] %}
            <p class="user-info">Logged in as: {{ session['user'] }}</p>
            <form method="GET" action="{{ url_for('logout') }}" style="margin-left: 10px;">
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <form method="GET" action="{{ url_for('login') }}" style="margin-left: 10px;">
                <button type="submit">Login</button>
            </form>
        {% endif %}
    </div>
    <div class="content">
        <div class="header-container">
            <header class="main-header">
                <h1>Timetable Generator</h1>
            </header>
        </div>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p><a href="{{ url_for('the_creators') }}" style="color: #F2DFCB; text-decoration: none;">Timetable App by Tushar, Darshan and Raj</a></p>
        </footer>
    </div>
    <div class="overlay"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuToggle = document.querySelector('.menu-toggle');
            const sidebar = document.querySelector('.sidebar');
            const content = document.querySelector('.content');
            const overlay = document.querySelector('.overlay');

            menuToggle.addEventListener('click', function() {
                sidebar.classList.toggle('open');
                overlay.classList.toggle('open');
            });

            overlay.addEventListener('click', function() {
                sidebar.classList.remove('open');
                overlay.classList.remove('open');
            });
        });
    </script>
</body>
</html>