<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Timetable App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <button class="menu-toggle">&#8942;</button>
    <div class="sidebar">
        <h2>Timetable App</h2>
        <ul>
            <li><a href="{{ url_for('create_timetable') }}">______ Create/Edit</a></li>
            <li><a href="{{ url_for('view_timetable') }}">______ View Timetable</a></li>
            <li><a href="{{ url_for('import_export') }}">______ Export/Import</a></li>
        </ul>
        <br>
        {% if session['user'] %}
            <p class="user-info">Logged in as: {{ session['user'] }}</p>
            <p class="user-info"><a href="{{ url_for('logout') }}">Logout</a></p>
        {% else %}
            <p class="user-info"><a href="{{ url_for('login') }}">Login</a></p>
        {% endif %}
    </div>
    <div class="content">
        <div class="header-container">
            <header class="main-header">
                <h1>Timetable Generator</h1>
            </header>
        </div>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>Timetable App by Tushar, Darshan and Raj</p>
        </footer>
    </div>
    <div class="overlay"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuToggle = document.querySelector('.menu-toggle');
            const sidebar = document.querySelector('.sidebar');
            const content = document.querySelector('.content');
            const overlay = document.querySelector('.overlay');

            menuToggle.addEventListener('click', function() {
                sidebar.classList.toggle('open');
                overlay.classList.toggle('open');
            });

            overlay.addEventListener('click', function() {
                sidebar.classList.remove('open');
                overlay.classList.remove('open');
            });
        });
    </script>
</body>
</html>